.modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__inner {
        position: absolute;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        padding: 76px 58px;
        background: #000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100vh;
        overflow: auto;

        @include mq("tablet", "max") {
            padding: 30px 10px;
        }

        &.modal__inner-login {
            max-width: 580px;
            background-color: #fff;
            padding: 60px;

            @include mq("tablet", "max") {
                padding: 15px;
            }
        }
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        border: 0;
        padding: 0;
        background: transparent;

        .icon {
            fill: $highlight;
        }
    }
}
.modal-open {
    overflow: hidden;
}
.modal-overlay {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    opacity: .5;
}
