extends ../template/layout
include ../blocks/modal/mixin

block variables
    -
        var title = 'Mountainman'

mixin back()
    a.back-page(href='#')
        span.back-page__icon
            +icon('arr-back')
        | назад в каталог

block content
    .product-card
        .product-card__inner
            +back()
            .product-card__body
                .product-card__gallery
                    .product-card__gallery-thumbs
                        .product-card__gallery-thumbs-item.js-product-card-thumb.current
                            +srcsetImg('img/product-card/product-card-sm-1', 'jpg', 80, 100, 'img/placeholder-130.svg')
                        .product-card__gallery-thumbs-item.js-product-card-thumb
                            +srcsetImg('img/product-card/product-card-sm-2', 'jpg', 80, 100, 'img/placeholder-130.svg')
                        .product-card__gallery-thumbs-item.js-product-card-thumb
                            +srcsetImg('img/product-card/product-card-sm-3', 'jpg', 80, 100, 'img/placeholder-130.svg')
                        .product-card__gallery-thumbs-item.js-product-card-thumb
                            +srcsetImg('img/product-card/product-card-sm-4', 'jpg', 80, 100, 'img/placeholder-130.svg')
                        .product-card__gallery-thumbs-item.js-product-card-thumb
                            +srcsetImg('img/product-card/product-card-sm-5', 'jpg', 80, 100, 'img/placeholder-130.svg')
                        .product-card__gallery-thumbs-item.js-product-card-thumb
                            +srcsetImg('img/product-card/product-card-sm-6', 'jpg', 80, 100, 'img/placeholder-130.svg')
                        .product-card__gallery-thumbs-item.js-product-card-thumb
                            +srcsetImg('img/product-card/product-card-sm-7', 'jpg', 80, 100, 'img/placeholder-130.svg')
                        .product-card__gallery-thumbs-item.js-product-card-thumb
                            +srcsetImg('img/product-card/product-card-sm-8', 'jpg', 80, 100, 'img/placeholder-130.svg')
                        .product-card__gallery-thumbs-item.js-product-card-thumb
                            +srcsetImg('img/product-card/product-card-sm-9', 'jpg', 80, 100, 'img/placeholder-130.svg')
                        .product-card__gallery-thumbs-item.js-product-card-thumb
                            +srcsetImg('img/product-card/product-card-sm-10', 'jpg', 80, 100, 'img/placeholder-130.svg')
                    .product-card__gallery-big.swiper.js-product-card-slider
                        .swiper-wrapper
                            .swiper-slide
                                a(href='img/product-card/product-card-big-1.jpg' data-fancybox="product-gallery")
                                    +srcsetImg('img/product-card/product-card-md-1', 'jpg', 640, 800, 'img/placeholder-130.svg')
                            .swiper-slide
                                a(href='img/product-card/product-card-big-2.jpg' data-fancybox="product-gallery")
                                    +srcsetImg('img/product-card/product-card-md-2', 'jpg', 640, 800, 'img/placeholder-130.svg')
                            .swiper-slide
                                a(href='img/product-card/product-card-big-3.jpg' data-fancybox="product-gallery")
                                    +srcsetImg('img/product-card/product-card-md-3', 'jpg', 640, 800, 'img/placeholder-130.svg')
                            .swiper-slide
                                a(href='img/product-card/product-card-big-4.jpg' data-fancybox="product-gallery")
                                    +srcsetImg('img/product-card/product-card-md-4', 'jpg', 640, 800, 'img/placeholder-130.svg')
                            .swiper-slide
                                a(href='img/product-card/product-card-big-5.jpg' data-fancybox="product-gallery")
                                    +srcsetImg('img/product-card/product-card-md-5', 'jpg', 640, 800, 'img/placeholder-130.svg')
                            .swiper-slide
                                a(href='img/product-card/product-card-big-6.jpg' data-fancybox="product-gallery")
                                    +srcsetImg('img/product-card/product-card-md-6', 'jpg', 640, 800, 'img/placeholder-130.svg')
                            .swiper-slide
                                a(href='img/product-card/product-card-big-7.jpg' data-fancybox="product-gallery")
                                    +srcsetImg('img/product-card/product-card-md-7', 'jpg', 640, 800, 'img/placeholder-130.svg')
                            .swiper-slide
                                a(href='img/product-card/product-card-big-8.jpg' data-fancybox="product-gallery")
                                    +srcsetImg('img/product-card/product-card-md-8', 'jpg', 640, 800, 'img/placeholder-130.svg')
                            .swiper-slide
                                a(href='img/product-card/product-card-big-9.jpg' data-fancybox="product-gallery")
                                    +srcsetImg('img/product-card/product-card-md-9', 'jpg', 640, 800, 'img/placeholder-130.svg')
                            .swiper-slide
                                a(href='img/product-card/product-card-big-10.jpg' data-fancybox="product-gallery")
                                    +srcsetImg('img/product-card/product-card-md-10', 'jpg', 640, 800, 'img/placeholder-130.svg')
                .product-card__content
                    .product-card__top
                        h1.title.title--md Сноубордическое худи MARSHMALLOW
                        .product-card__btand MountainMan
                        .product-card__code Артикул: 1234567
                        .product-card__price 13 050 ₽
                        .product-card___sizes
                            .product-card__sizes-name Размер
                            .product-card__sizes-list
                                .product-card__sizes-item
                                    input.js-choose-size(type='radio' id='product-size-1' name='product-size' data-quanity='0')
                                    label(for='product-size-1') XS
                                .product-card__sizes-item
                                    input.js-choose-size(type='radio' id='product-size-2' name='product-size' data-quanity='5')
                                    label(for='product-size-2') S
                                .product-card__sizes-item
                                    input.js-choose-size(type='radio' id='product-size-3' name='product-size' data-quanity='0')
                                    label(for='product-size-3') M
                                .product-card__sizes-item
                                    input.js-choose-size(type='radio' id='product-size-4' name='product-size' data-quanity='5')
                                    label(for='product-size-4') L
                                .product-card__sizes-item
                                    input.js-choose-size(type='radio' id='product-size-5' name='product-size' data-quanity='5')
                                    label(for='product-size-5') XL
                                .product-card__sizes-item
                                    input.js-choose-size(type='radio' id='product-size-6' name='product-size' data-quanity='5')
                                    label(for='product-size-6') XXL
                            .product-card__sizes-available.js-product-available
                        .product-card__control
                            button.btn.btn--cart.js-modal.js-add-cart(type='button' data-modal='#product-added-cart')
                                | купить
                                +icon('basket')
                            button.btn.btn--sew.js-modal.js-order-sew(type='button' data-modal='#product-sew')
                                |заказать пошив
                                +icon('sew')
                        a.product-card__inst(href='/') Что если в наличии нет моего размера?
                    .product-card__box

                        p.
                            Худи Mountainman - абсолютный топ продаж среди худи для катания.
                            Создана для сноубордистов и лыжников, в ней ты будешь уверенно чувствовать себя как на
                            склоне, так и в городской среде, а удлиненный крой защитит от ветра и снега.
                            Идеально для горнолыжного спорта и походов в снежные и холодные путешествия!
                        h3 Ткань
                        p Плотный Футер с начесом на изнанке. (340 г/м2)
                        h3 Состав
                        p Хлопок 80% Полиэстер 20% для оптимальной работы в холодных и влажных условиях.
                        h3 Крой
                        p Унисекс. Удлиненный и свободный, глубокий капюшон налезает на шлем, высокий ворот закрывает лицо от ветра.
                        h3 Полезные мелочи:
                        ul
                            li манжеты от снега в рукавах
                            li карман для ски-пасса
                            li карман-кенгруру на молниях для телефона
                            li встроенная в ворот балаклава.
                        p Мы создаем профессиональную горнолыжную одежду с учетом потребностей райдеров!
                        p Сделано в России!
                    .product-card__box
                        .product-card__box-title Характеристики товара
                        ul.product-card__box-list

                            li
                                span Тип одежды
                                span Сноубордическое худи
                            li
                                span Материал
                                span Футер
                            li
                                span Инструкция по уходу
                                span машинная стирка при 40C
                            li
                                span Цвет
                                span Черный
                            li
                                span Состав материала
                                span хлопок 80% полиэстер 20%
                            li
                                span ДxШxВ
                                span 500x450x70 мм
                            li
                                span Вес
                                span 800 г

    +modal('added-cart')
        .modal__body
            .added-cart
                .added-cart__sign
                    +icon('check')
                .added-cart__title Товар добавлен в корзину
                .added-cart__btns
                    a.btn.btn--dark-cart(href='/cart.html')
                        |перейти в корзину
                        +icon('cart')
                    a.btn.btn--highlight(href='/category.html')
                        | продолжить покупки
                        +icon('arr-back')